[
    // Test faction actions, kills, and amending actions.
    Use("Eve", Order("Eve", Kill("Alice"))),
    Use("Eve", Order("Malory", Kill("Charlie"))),

    // Test ordering someone who's not in the faction.
    Use("Eve", Order("Alice", Kill("Charlie"))),

    // Test good investigation.
    Use("Alice", Investigate("Bob")),

    // Test protecting the right player.
    Use("Bob", Protect("Charlie")),

    // Test illegal actions.
    Use("Bob", Protect("Bob")),
    Use("Charlie", Protect("Bob")),

    // Resolve Night 0.
    EndPhase,

    //------------------------------------------------------

    // Test a close vote.
    Use("Alice", Vote("Eve")),
    Use("Bob", Vote("Charlie")),
    Use("Charlie", Vote("Eve")),
    Use("Eve", Vote("Charlie")),
    Use("Malory", Vote("Charlie")),

    // Resolve Day 1.
    EndPhase,

    //------------------------------------------------------

    // Test evil investigation.
    Use("Alice", Investigate("Eve")),

    // Test protecting the wrong player.
    Use("Bob", Protect("Alice")),

    // Test mafia win.
    Use("Eve", Order("Eve", Kill("Bob"))),

    // Resolve Night 1.
    EndPhase,
]
