(
    factions: {
        "Mafia": (
            abilities: [Kill],
            alignment: Evil,
            membership: Visible,
            objective: Majority,
        ),
        "Town": (
            alignment: Good,
            membership: Hidden,
            objective: Eliminate(Evil),
        ),
    },
    players: {
        "Alice": [
            (effect: BelongsTo("Town")),
            (effect: Has(Investigate)),
        ],
        "Bob": [
            (effect: BelongsTo("Town")),
        ],
        "Charlie": [
            (effect: BelongsTo("Town")),
            (effect: Has(Protect)),
        ],
        "Eve": [
            (effect: BelongsTo("Mafia")),
        ],
        "Malory": [
            (effect: BelongsTo("Mafia")),
        ],
    },
)
