[
    // Test amending actions.
    Plan(Order("Eve", Kill("Eve", "Bob"))),

    // Test faction actions and kills.
    Plan(Order("Eve", Kill("Malory", "Alice"))),

    // Resolve Night 0.
    AdvancePhase,
]
