[
    // Test faction actions, kills, and amending actions.
    Use("Eve", Order("Eve", Kill("Alice"))),
    Use("Eve", Order("Malory", Kill("Charlie"))),

    // Test good investigation.
    Use("Alice", Investigate("Bob")),

    // Test protecting the right player.
    Use("Bob", Protect("Charlie")),

    // Resolve Night 0.
    AdvancePhase,

    //------------------------------------------------------

    // Tie vote to test RNG determinism.
    Use("Alice", Vote("Charlie")),
    Use("Bob", Vote("Alice")),
    Use("Charlie", Vote("Bob")),
    Use("Eve", Vote("Malory")),

    // Resolve Day 1.
    AdvancePhase,

    //------------------------------------------------------

    // Test evil investigation.
    Use("Alice", Investigate("Eve")),

    // Test protecting the wrong player.
    Use("Bob", Protect("Alice")),

    // Test mafia win.
    Use("Eve", Order("Eve", Kill("Charlie"))),

    // Resolve Night 1.
    AdvancePhase,
]
