(
    factions: {
        "Mafia": (
            abilities: [(
                kind: Kill,
                phase: Night,
            )],
            membership: Visible,
            objective: AchieveMajority,
        ),
        "Town": (
            abilities: [],
            membership: Hidden,
            objective: AchieveMajority,
        ),
    },
    players: {
        "Alice": [
            (
                effect: BelongsTo("Mafia"),
                expires: Never,
            ),
        ],
    },
)
