[
    (Moderator, Input(Use("Alice", Vote("Eve")))),
    (Public, VotedFor("Alice", "Eve")),
    (Moderator, Input(Use("Bob", Vote("Charlie")))),
    (Public, VotedFor("Bob", "Charlie")),
    (Moderator, Input(Use("Charlie", Vote("Eve")))),
    (Public, VotedFor("Charlie", "Eve")),
    (Moderator, Input(Use("Eve", Vote("Charlie")))),
    (Public, VotedFor("Eve", "Charlie")),
    (Moderator, Input(Use("Malory", Vote("Charlie")))),
    (Public, VotedFor("Malory", "Charlie")),
    (Moderator, Input(EndPhase)),
    (Public, Died("Charlie")),
    (Public, PhaseEnded(Day(1))),
]