[
    Input(Plan("Eve", Order("Eve", Kill("Alice")))),
    Input(Plan("Eve", Order("Malory", Kill("Bob")))),
    Input(AdvancePhase),
    Died("Bob"),
    PhaseEnded(Night(0)),
    Input(AdvancePhase),
    PhaseEnded(Day(1)),
    Input(Plan("Eve", Order("Eve", Kill("Charlie")))),
    Input(AdvancePhase),
    Died("Charlie"),
    Won("Mafia"),
    PhaseEnded(Night(1)),
]