[
    (Moderator, Input(Use("Eve", Order("Eve", Kill("Alice"))))),
    (Moderator, Input(Use("Eve", Order("Malory", Kill("Charlie"))))),
    (Moderator, Input(Use("Alice", Investigate("Bob")))),
    (Moderator, Input(Use("Bob", Protect("Charlie")))),
    (Moderator, Input(AdvancePhase)),
    (Moderator, FoundAlignment("Bob", Good)),
    (Moderator, PhaseEnded(Night(0))),
]