[
    Input(Use("Eve", Order("Eve", Kill("Alice")))),
    Input(Use("Eve", Order("Malory", Kill("Charlie")))),
    Input(Use("Alice", Investigate("Bob"))),
    Input(Use("Bob", Protect("Charlie"))),
    Input(AdvancePhase),
    FoundAlignment("Bob", Good),
    PhaseEnded(Night(0)),
    Input(Use("Alice", Vote("Eve"))),
    VotedFor("Alice", "Eve"),
    Input(Use("Bob", Vote("Charlie"))),
    VotedFor("Bob", "Charlie"),
    Input(Use("Charlie", Vote("Eve"))),
    VotedFor("Charlie", "Eve"),
    Input(Use("Eve", Vote("Charlie"))),
    VotedFor("Eve", "Charlie"),
    Input(Use("Malory", Vote("Charlie"))),
    VotedFor("Malory", "Charlie"),
    Input(AdvancePhase),
    Died("Charlie"),
    PhaseEnded(Day(1)),
]