(
    factions: {
        "Mafia": (
            abilities: [
                (
                    kind: Kill,
                ),
            ],
            membership: Visible,
            objective: AchieveMajority,
        ),
        "Town": (
            abilities: [],
            membership: Hidden,
            objective: EliminateMafia,
        ),
    },
    players: {
        "Alice": [
            (
                effect: BelongsTo("Town"),
            ),
        ],
        "Bob": [
            (
                effect: BelongsTo("Town"),
            ),
        ],
        "Charlie": [
            (
                effect: BelongsTo("Town"),
            ),
        ],
        "Eve": [
            (
                effect: BelongsTo("Mafia"),
            ),
        ],
        "Malory": [
            (
                effect: BelongsTo("Mafia"),
            ),
        ],
    },
)