[
    Input(Plan("Eve", Order("Eve", Kill("Alice")))),
    Input(Plan("Eve", Order("Malory", Kill("Charlie")))),
    Input(Plan("Alice", Investigate("Bob"))),
    Input(Plan("Bob", Protect("Charlie"))),
    Input(AdvancePhase),
    FoundAlignment("Bob", Good),
    PhaseEnded(Night(0)),
    Input(AdvancePhase),
    PhaseEnded(Day(1)),
    Input(Plan("Alice", Investigate("Eve"))),
    Input(Plan("Eve", Order("Eve", Kill("Charlie")))),
    Input(AdvancePhase),
    FoundAlignment("Eve", Evil),
    PhaseEnded(Night(1)),
]