[
    Input(Use("Eve", Order("Eve", Kill("Alice")))),
    Input(Use("Eve", Order("Malory", Kill("Charlie")))),
    Input(Use("Alice", Investigate("Bob"))),
    Input(Use("Bob", Protect("Charlie"))),
    Input(AdvancePhase),
    FoundAlignment("Bob", Good),
    PhaseEnded(Night(0)),
    Input(Use("Alice", Vote("Charlie"))),
    VotedFor("Alice", "Charlie"),
    Input(Use("Bob", Vote("Alice"))),
    VotedFor("Bob", "Alice"),
    Input(Use("Charlie", Vote("Bob"))),
    VotedFor("Charlie", "Bob"),
    Input(Use("Eve", Vote("Malory"))),
    VotedFor("Eve", "Malory"),
    Input(AdvancePhase),
    Died("Charlie"),
    PhaseEnded(Day(1)),
]