[
    Input(Use("Eve", Order("Eve", Kill("Alice")))),
    Input(Use("Eve", Order("Malory", Kill("Charlie")))),
    Input(Use("Alice", Investigate("Bob"))),
    Input(Use("Bob", Protect("Charlie"))),
    Input(AdvancePhase),
    FoundAlignment("Bob", Good),
    PhaseEnded(Night(0)),
]