(
    factions: {
        "Mafia": (
            abilities: [
                (
                    kind: Kill,
                ),
            ],
            alignment: Evil,
            membership: Visible,
            objective: Majority,
        ),
        "Town": (
            alignment: Good,
            membership: Hidden,
            objective: Eliminate(Evil),
        ),
    },
    players: {
        "Alice": [
            (
                effect: BelongsTo("Town"),
            ),
        ],
        "Bob": [
            (
                effect: BelongsTo("Town"),
            ),
            (
                effect: Dead,
            ),
        ],
        "Charlie": [
            (
                effect: BelongsTo("Town"),
            ),
        ],
        "Eve": [
            (
                effect: BelongsTo("Mafia"),
            ),
        ],
        "Malory": [
            (
                effect: BelongsTo("Mafia"),
            ),
        ],
    },
)