(
    factions: {
        "Mafia": (
            actions: [

                Kill("$PLAYER"),            ],
            alignment: Evil,
            membership: Visible,
            objective: AchieveMajority,
        ),
        "Town": (
            alignment: Good,
            membership: Hidden,
            objective: Eliminate(Evil),
        ),
    },
    players: {
        "Alice": [

            Member("Town"),
            Has(Investigate("$PLAYER")),        ],
        "Bob": [

            Member("Town"),        ],
        "Charlie": [

            Member("Town"),
            Has(Protect("$OTHER_PLAYER")),        ],
        "Eve": [

            Member("Mafia"),        ],
        "Malory": [

            Member("Mafia"),        ],
    },
    seed: 1234567890,
)