(
    factions: {
        "Mafia": [
            Has(Order("$MEMBER", Kill("$PLAYER"))),
            Alignment(Evil),
            Membership(Visible),
            Objective(AchieveMajority),
        ],
        "Town": [
            Alignment(Good),
            Membership(Hidden),
            Objective(Eliminate(Evil)),
        ],
    },
    players: {
        "Alice": [
            Member("Town"),
            Has(Investigate("$PLAYER")),
        ],
        "Bob": [
            Member("Town"),
        ],
        "Charlie": [
            Member("Town"),
            Has(Protect("$OTHER_PLAYER")),
        ],
        "Eve": [
            Member("Mafia", 1),
        ],
        "Malory": [
            Member("Mafia", 2),
        ],
    },
    seed: 1234567890,
)