(
    factions: {
        "Survivors": (
            alignment: Neutral,
            membership: Hidden,
            objective: Survive,
        ),
        "Town": (
            alignment: Good,
            membership: Hidden,
            objective: Eliminate(Evil),
        ),
    },
    players: {
        "Alice": [Member("Town")],
        "Charlie": [Member("Survivors")],
    },
    seed: 0,
)
