(
    factions: {
        "Survivors": (
            alignment: Neutral,
            membership: Hidden,
            objective: Survive,
        ),
        "Town": (
            alignment: Good,
            membership: Hidden,
            objective: Eliminate(Evil),
        ),
    },
    players: {
        "Alice": [
            (
                effect: Member("Town"),
            ),
        ],
        "Charlie": [
            (
                effect: Member("Survivors"),
            ),
        ],
    },
    seed: 0,
)