[
    (Moderator, Input(AdvancePhase)),
    (Moderator, Won("Town")),
    (Moderator, PhaseEnded(Night(0))),
    (Moderator, Input(Use("Alice", Vote("Bob")))),
    (Moderator, VotedFor("Alice", "Bob")),
    (Moderator, Input(Use("Bob", Vote("Charlie")))),
    (Moderator, VotedFor("Bob", "Charlie")),
    (Moderator, Input(Use("Charlie", Vote("Alice")))),
    (Moderator, VotedFor("Charlie", "Alice")),
    (Moderator, Input(AdvancePhase)),
    (Moderator, Died("Bob")),
    (Moderator, Won("Town")),
    (Moderator, PhaseEnded(Day(1))),
]