(
    factions: {
        "Town": (
            alignment: Good,
            membership: Hidden,
            objective: Eliminate(Evil),
        ),
    },
    players: {
        "Alice": [
            Member("Town"),
            Has(Day(Vote("$PLAYER"))),
        ],
        "Bob": [
            Member("Town"),
            Has(Day(Vote("$PLAYER"))),
        ],
        "Charlie": [
            Member("Town"),
            Has(Day(Vote("$PLAYER"))),
            Dead,
        ],
    },
    seed: 10,
)
